@import '../../../scss/variables.scss';

.layout-8 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: $gapSmall;
	margin-bottom: $gapSmall;

	&__right {
		display: flex;
		flex-flow: column;
		gap: $gapSmall;
	}

	&__img {
		aspect-ratio: 9/12;
		object-fit: cover;
		height: 100% !important;
	}
}