.photo-box {
	position: relative;
	cursor: pointer;

	&__delete {
		position: absolute;
		bottom: 0px;
		right: 0px;
		background-color: white;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 5px 0 0 0;
	}
}